<mat-toolbar color="primary" class="mat-elevation-z12">
  <p class="mat-headline">
    Task Manager
  </p>
</mat-toolbar>
<div class="login_space">
  <div class="row">
    <div class="col left">
      <p class="mat-display-1">Login</p>
      <form #loginForm="ngForm" (ngSubmit)="handleSubmit(loginForm)" novalidate>
        <mat-form-field id="username" appearance="fill">
          <mat-label>Username or Email</mat-label>
          <input
            matInput
            name="username"
            ngModel
            required
            placeholder="manager@example.com"
          />
          <mat-icon matSuffix>face</mat-icon>
          <mat-error
            *ngIf="
              loginForm.controls.username.invalid &&
              loginForm.controls.username.touched
            "
            >Required</mat-error
          >
        </mat-form-field>
        <mat-form-field id="password" appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            name="password"
            ngModel
            matInput
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            attr.aria-pressed="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginForm.controls.password.invalid &&
              loginForm.controls.password.touched
            "
            >Required</mat-error
          >
        </mat-form-field>
        <button
          id="submitButton"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </form>
      <div class="mat-h3">
        Don't have an account?
        <a [routerLink]="'/signup'"> <strong>Sign Up!</strong></a>
      </div>
    </div>
    <div class="col">
      <div>
        <div class="bg-image"></div>
      </div>
    </div>
  </div>
</div>
