<mat-toolbar color="primary" class="mat-elevation-z12">
  <p class="mat-headline">
    Task Manager
  </p>
</mat-toolbar>
<div class="signup_space">
  <div class="row">
    <div class="col left">
      <p class="mat-display-1">Sign Up</p>
      <br />
      <p class="mat-subheading-1">
        Passwords must be <strong>8 characters long</strong>, contain a
        <strong>Number</strong>, <strong>Upper Case Letter</strong>, and a
        <strong>Special Character</strong>.
      </p>
      <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
        <mat-form-field id="username" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="manager@example.com"
          />
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
        <mat-form-field id="password" appearance="fill">
          <mat-label>Enter new password</mat-label>
          <input formControlName="password" matInput [type]="'password'" />
          <mat-error
            *ngIf="
              signupForm.controls.password.dirty &&
              signupForm.controls.password.errors
            "
            >Invalid Password</mat-error
          >
        </mat-form-field>
        <mat-form-field id="confirmPassword" appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input
            formControlName="confirmPassword"
            matInput
            [type]="'password'"
          /> </mat-form-field
        ><br />
        <label
          style="color: red;"
          *ngIf="
            signupForm.controls['confirmPassword'].hasError(
              'NoPassswordMatch'
            ) &&
            signupForm.controls['password'].dirty &&
            signupForm.controls['confirmPassword'].dirty
          "
        >
          Passwords don't match
        </label>
        <br />
        <button
          id="submitButton"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Sign Up
        </button>
        <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
      </form>
    </div>
    <div class="col">
      <div>
        <div class="bg-image"></div>
      </div>
    </div>
  </div>
</div>
