table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-top: 25px;
}

#addButton {
  margin-left: 880px;
  margin-right: 20px;
}

.mat-headline {
  font-family: "Montserrat", sans-serif;
}
