table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-top: 25px;
}

#addButton {
  margin-left: 880px;
  margin-right: 20px;
}

.mat-headline {
  font-family: "Montserrat", sans-serif;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 10px 0;
}
