<mat-toolbar color="primary" class="mat-elevation-z12">
  <p class="mat-headline">
    Current Tasks
  </p>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    color="warn"
    matTooltip="Logout"
    matTooltipPosition="left"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<div class="mat-elevation-z10">
  <mat-toolbar color="primary">
    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
    <!-- <span class="example-spacer"></span> -->
    <button
      id="addButton"
      mat-raised-button
      color="accent"
      matTooltip="Add New Task"
      matTooltipPosition="left"
      (click)="openDialog('Add', {})"
    >
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ash"
        #input
      />
    </mat-form-field>
  </mat-toolbar>
  <mat-table [dataSource]="allTasks" matSort>
    <!-- Quote Type Column -->
    <ng-container matColumnDef="quoteType">
      <mat-header-cell *matHeaderCellDef> Quote Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.quoteType }}
      </mat-cell>
    </ng-container>

    <!-- Quote ID Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Quote ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.ID }} </mat-cell>
    </ng-container>

    <!-- Contact Column -->
    <ng-container matColumnDef="contact">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Contact
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.contact }} </mat-cell>
    </ng-container>

    <!-- Task Description Column -->
    <ng-container matColumnDef="taskDesc">
      <mat-header-cell *matHeaderCellDef> Task </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.taskDesc }} </mat-cell>
    </ng-container>

    <!-- Due Date Column -->
    <ng-container matColumnDef="dueDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Due Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.dueDate }} </mat-cell>
    </ng-container>

    <!-- Task Type Column -->
    <ng-container matColumnDef="taskType">
      <mat-header-cell *matHeaderCellDef> Task Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.taskType }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link">
        <div class="options">
          <button
            matTooltip="View Task"
            matTooltipPosition="above"
            mat-mini-fab
            (click)="openDialog('Info', element)"
          >
            <mat-icon>info</mat-icon>
          </button>
          <button
            matTooltip="Edit Task"
            matTooltipPosition="above"
            mat-mini-fab
            (click)="openDialog('Update', element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matTooltip="Delete Task"
            matTooltipPosition="above"
            mat-mini-fab
            (click)="openDialog('Delete', element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      appHighlight
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-card
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center;"
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
