<h2 mat-dialog-title *ngIf="action != 'Info'">{{ action }} Task</h2>
<h2 mat-dialog-title *ngIf="action == 'Info'">Task Details</h2>

<!-- render when editing -->
<mat-dialog-content *ngIf="action == 'Update'" class="mat-typography">
  <form [formGroup]="AddTaskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Quote Type</mat-label>
      <input matInput formControlName="quoteType" />
      <div
        *ngIf="
          !AddTaskForm.get('quoteType').valid &&
          AddTaskForm.get('quoteType').touched
        "
        style="color: red;"
      >
        *Required
      </div>
    </mat-form-field>
    <br />
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Contact</mat-label>
      <input matInput formControlName="contact" />
      <div
        *ngIf="
          !AddTaskForm.get('contact').valid &&
          AddTaskForm.get('contact').touched
        "
        style="color: red;"
      >
        *Required
      </div>
    </mat-form-field>
    <br />
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <div
        *ngIf="
          !AddTaskForm.get('dueDate').valid &&
          AddTaskForm.get('dueDate').touched
        "
        style="color: red;"
      >
        *Required
      </div>
    </mat-form-field>
    <br />
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Task Type</mat-label>
      <input matInput formControlName="taskType" />
      <div
        *ngIf="
          !AddTaskForm.get('taskType').valid &&
          AddTaskForm.get('taskType').touched
        "
        style="color: red;"
      >
        *Required
      </div>
    </mat-form-field>
    <br />
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Task Description</mat-label>
      <textarea matInput formControlName="taskDescription"></textarea>
    </mat-form-field>
    <br />
    <button
      id="saveButton"
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="!AddTaskForm.valid"
    >
      Save Changes
    </button>
  </form>
</mat-dialog-content>

<!-- render when showing info -->
<mat-dialog-content *ngIf="action == 'Info'" class="mat-typography">
  <mat-label>Task ID</mat-label>
  <h2 class="items">{{ task.ID }}</h2>
  <mat-divider></mat-divider>
  <mat-label>Quote Type</mat-label>
  <h2 class="items">{{ task.quoteType }}</h2>
  <mat-divider></mat-divider>
  <mat-label>Contact</mat-label>
  <h2 class="items">{{ task.contact }}</h2>
  <mat-divider></mat-divider>
  <mat-label>Task Type</mat-label>
  <h2 class="items">{{ task.taskType }}</h2>
  <mat-divider></mat-divider>
  <mat-label>Due Date</mat-label>
  <h2 class="items">{{ task.dueDate }}</h2>
  <mat-divider></mat-divider>
  <mat-label>Task Description</mat-label>
  <h2 class="items">{{ task.taskDesc }}</h2>
  <mat-divider></mat-divider>
</mat-dialog-content>
<div *ngIf="action == 'Delete'">
  Are you sure you want to delete Task #<b>{{ task.ID }}</b
  >?
</div>
<mat-dialog-actions>
  <button mat-button *ngIf="action != 'Info'" (click)="closeDialog()">
    Cancel
  </button>
  <button mat-button *ngIf="action == 'Info'" (click)="closeDialog()">
    Close
  </button>
  <button
    *ngIf="action != 'Info'"
    mat-button
    [color]="confirmButton"
    (click)="doAction()"
    cdkFocusInitial
  >
    Confirm
  </button>
</mat-dialog-actions>
